<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auvijo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
     <uses-permission android:name="android.permission.CAMERA" />
     <uses-feature android:name="android.hardware.camera"
                  android:required="true" />
     <uses-feature android:name="android.hardware.camera.autofocus" />
     <uses-permission android:name="android.permission.RECORD_AUDIO" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/auvijo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.auvijo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Audio"
            android:label="@string/app_name"
            android:parentActivityName="com.example.auvijo.MainActivity" > <!-- parent activity  name, the name of the activity from which the activity is called from -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.auvijo.MainActivity" />
        </activity>
         <activity
            android:name=".MyJournal"
            android:label="@string/app_name"
            android:parentActivityName="com.example.auvijo.MainActivity" > <!-- parent activity  name, the name of the activity from which the activity is called from -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.auvijo.MainActivity" />
        </activity>
        <activity
            android:name=".Video"
            android:label="@string/app_name"
            android:parentActivityName="com.example.auvijo.MainActivity"
            android:screenOrientation="portrait" > <!-- parent activity  name, the name of the activity from which the activity is called from -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.auvijo.MainActivity" />
        </activity>
        <activity
            android:name=".Text"
            android:label="@string/app_name"
            android:parentActivityName="com.example.auvijo.MainActivity" > <!-- parent activity  name, the name of the activity from which the activity is called from -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.auvijo.MainActivity" />
        </activity>
       
    </application>

</manifest>